<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
  content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

{% feed_meta %}
{% seo %}
{% include seo.html %}

<!-- PWA Meta Tags -->
<meta name="theme-color" content="#0066cc">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="fe.flag">
<link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/favicon.ico' | relative_url }}">

<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/icon">
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/icon">

<link rel="preload" href="{{ '/assets/font/fontawesome-webfont.woff2' | relative_url }}" as="font" type="font/woff2"
  crossorigin>

<!-- stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/base.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/simplePagination.css' | relative_url }}">

{% if layout.markdown %}
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/highlight-theme.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/rouge-code.css' | relative_url }}">
{% endif %}

{% if page.layout == "post" %}
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/post.css' | relative_url }}">
{% endif %}

{% if page.layout == "post_bare" %}
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/post_bare.css' | relative_url }}">
{% endif %}


<!-- javascripts -->
<script src="{{ '/assets/js/jquery.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/dark-mode.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lazy-loading.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/pwa.js' | relative_url }}" defer></script>