---
layout: compress
---
<!DOCTYPE html>
<html lang="ko">
<head>
  {% include head.html %}
</head>

<!-- bare layout means not header and footer
  like resume
-->
{% unless layout.bare %}
  <body class="site-shell{% if page.dashboard %} dashboard-page{% endif %}">
    {% include header.html %}

    <main id="l-main" tabindex="-1">
      <div class="container">
        {% include search_result.html %}
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
{% else %}
  {{ content }}
{% endunless %}

</html>
