/**
 * ----------------------------------------------------------------------------------------
 * Footer style
 * ----------------------------------------------------------------------------------------
 */
#l-footer {
    background-color: #2d4a3e;
    color: white;
    margin-top: 5rem;
    padding: 1.5rem;

    h3 {
        margin-bottom: 0.5rem;
    }

    .rss {
        font-size: 4rem;
    }

    #legal {
        margin-top: 3rem;
        color: rgb(141, 141, 141);
    }
}